<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBase</title>
    <style>
        table{
            border:1px solid black;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
        }
        td,th {
           border:1px solid black; 
           padding: 5px;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <a href="{% url 'index' %}">Go Back</a>
    <br>
    <p style="text-align: center;">
    School DataBase Management
    </p>
    <br>
    <h1>Students</h1>
    <table>
        <tr>
            <th>Admission No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Admission Date</th>
            <th>Class Details</th>
            <th>Parents Id</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{student.addmission_no}}</td>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.dob}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.addmission_date}}</td>
            {% if student.class_id %}
            <td>{{student.class_id}}</td>
            {% else %}
            <td style="color:red;">NONE</td>
            {% endif %}
            <td>{{student.parent_id.id}}</td>
        </tr>
        {% endfor %}
    </table>    
    <h1>Teachers</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Phone Number</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>Hire Date</th>
            <th>Subject</th>
            <th>Class</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        {% for t in teachers %}
        <tr>
            <td>{{t.id}}</td>
            <td>{{t.first_name}}</td>
            <td>{{t.last_name}}</td>
            <td>{{t.dob}}</td>
            <td>{{t.phone_no}}</td>
            <td>{{t.gender}}</td>
            <td>{{t.salary}}</td>
            <td>{{t.hire_date}}</td>
            <td>{{t.subject_id}}</td>
            {% if t.class_id %}
            <td>{{t.class_id.class_name}}</td>
            {% else %}
            <td style="color:red;">NONE</td>
            {% endif %}
            <td>{{t.email}}</td>
            <td>{{t.address}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>